---
layout: page
---

{{ content }}

<ul id="archive">
{% for quiz in site.quizs %}
<li class="archiveposturl" style="background: transparent">
<div class="lecture-container">
    <div class="content">
        <span style="font-weight: bold;">{{ quiz.title }}</span><br>
        <strong>
        {% include quiz_links.html quiz=quiz %}
        </strong>

        {% if quiz.content != '' %}
        <br/>
        <div class="markdown-content" style="margin-top: 3px;">
        {{ quiz.content }}
        </div>
        {% endif %}
    </div>
</div>
</li>
{% endfor %}
</ul>
