---
layout: default
---

<header class="post-header">
    <h1 class="post-title">Schedule</h1>
</header>

<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
    }
    th {
        background-color: #f2f2f2;
    }
</style>

{{ content }}

<div class="home" style="font-size: 0.8em;">
        <iframe
            src="https://calendar.google.com/calendar/embed?height=600&wkst=2&ctz=Asia%2FKolkata&bgcolor=%23EF6C00&showPrint=0&showTz=0&mode=AGENDA&showTitle=0&src=ZTk1ZDk0ZmMwZjNmNTZlYjIzNzczZjBkODE2MWZiMGViYzMxZDJmZjUyNTcwYjU5MTBlMWQ5MDVlN2E1ODdkN0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23E4C441"
            style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>

    <br><br><br>
    <h1 class="post-title">TA Availability</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Day</th>
        <th>Time</th>
        <th>Contact</th>
    </tr>
    <tr>
        <td>Vaibhav</td>
        <td>Monday</td>
        <td>4-5</td>
        <td><a href="mailto:mt1210236@ee.iitd.ac.in">mt1210236@ee.iitd.ac.in</a></td>
    </tr>
    <tr>
        <td>Soumyodeep</td>
        <td>Tuesday</td>
        <td>4-5</td>
        <td><a href="mailto:aiy237526@scai.iitd.ac.in">aiy237526@scai.iitd.ac.in</a></td>
    </tr>
    <tr>
        <td>Sahil</td>
        <td>Wednesday</td>
        <td>4-5</td>
        <td><a href="sahil.mishra@ee.iitd.ac.in">sahil.mishra@ee.iitd.ac.in</a></td>
    </tr>
    <tr>
        <td>Aswini</td>
        <td>Wednesday</td>
        <td>3-4</td>
        <td><a href="mailto:eez238359@ee.iitd.ac.in">eez238359@ee.iitd.ac.in</a></td>
    </tr>
    <tr>
        <td>Palash</td>
        <td>Thursday</td>
        <td>4-5</td>
        <td><a href="mailto:eez228472@ee.iitd.ac.in">eez228472@ee.iitd.ac.in</a></td>
    </tr>
    <tr>
        <td>Anant</td>
        <td>Friday</td>
        <td>3-4</td>
        <td><a href="mailto:aib232068@scai.iitd.ac.in">aib232068@scai.iitd.ac.in</a></td>
    </tr>
</table>
</div>
